table{
    border-collapse: collapse;
    font-size: 16px;
    line-height: 3rem;
    table-layout: fixed; 
    width: 100%;
  }
  
  .table-container{
    border-radius: 16px;
    border: 1px solid hsl(0, 0%, 89%);
  }
  .table-row:hover{
    background: hsl(0, 4%, 95%);;
    border-radius: 16px;
  }
  
  .table-row__content{
    margin-left: 2rem;;
  }
   
  .tr-border{
    border-bottom: 1px solid hsl(0, 0%, 89%);
  }
  
  .row-container{
    display: flex;
    align-items: baseline;
  }
  
  .row-container-left{
    flex-grow: 50;
    margin-left: 1rem;
    font-weight: 600;
  }
  
  .row-container-right{
  flex-grow: 1;
  }
  
  .hashtag{
    font-size: 0.8rem;
  }
  
  .tag{
    font-size: 0.8rem;
  border-radius: 1rem;
  background-color: #e6e3e3;
  border: 2px solid white;
  text-align: center;
  height: 1.5rem;
  vertical-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  }
  
  .table-date{
    font-size: 0.8rem;
    color: #696969;
  }
  .red-tag{
  background-color: #ffd6db;
  }
  
  .green-tag{
    background-color: #e8fedf;
  }
  
  .last-section{
    padding: 1rem;
    padding-top: 0;
    padding-right: 40%;
    line-height: 1rem;
  }