/* Whole Page */
/* Whole Doc */
* {
  box-sizing: border-box;
  font-family: "Tomato-Grotesk-Regular", "Verdana", sans-serif, "ui-sans-serif",
    "system-ui", "-apple-system";
}

html,
body {
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.root {
  padding: 2rem;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.header__warning{
  background-color: hsl(244, 70%, 96.1%);
  padding: 0.5rem;
  border-radius: 0.7rem;
  display: inline-flex;
  align-items: center;
}
.section-heading {
  font-size: 1.5rem;
  line-height: 40px;

  font-weight: 570;
}

a:visited {
  color: black;
  cursor: pointer;
}


table {
  border-collapse: collapse;
  font-size: 16px;
  line-height: 3rem;
  table-layout: fixed;
  width: 100%;
}

.table-container {
  border-radius: 16px;
  border: 1px solid hsl(0, 0%, 89%);
}

#green-icon {
  background-color: #e8fedf;
}

.section-header {
  display: flex;
  align-items: baseline;
}
.section-heading__button {
  font-size: 0.9rem;
  height: 2.5rem;
  flex-grow: 1;
  margin-left: 1rem;

  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  width: min-content;
}

.section-heading__button:hover {
  background-color: hsl(244, 70%, 96.1%);
  cursor: pointer;
}

.purple-button {
  border: none;
  background-color: white;
  color: #6358de;
}

.grey-button {
  border: 1px solid hsl(0, 0%, 89%);
  background-color: white;
}

.section-title {
  flex-grow: 8;
  margin-top: 3rem;
}

.red-tag {
  background-color: #ffd6db;
}

.green-tag {
  background-color: #e8fedf;
}
