.table-container {
  border-radius: 16px;
  border: 1px solid hsl(0, 0%, 89%);
}

.last-section {
  padding: 1rem;
  padding-top: 0;
  padding-right: 40%;
  line-height: 1rem;
}

.black-button {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 1.5rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 1rem;
}

.black-button:hover {
  cursor: pointer;
  background-color: #212020;
}
